@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    var lstAccounts = (List<ProjectFinal.Models.User>)ViewBag.ListUser;
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
           Tài khoản
        </h1>
        <ol class="breadcrumb">
            <li><a href="Admin/Home/Index"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
            <li><a href="Admin/Product/Index">Tài khoản</a></li>
            <li class="active">Danh sách Tài khoản</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title"> <a class="btn btn-primary" href="@Url.Action("Create", "Account", new { Area = "Admin" })">Thêm mới</a></h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tên tài khoản</th>
                                    <th>Mật khẩu</th>
                                    <th>Trạng thái</th>
                                    <th>#</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var stt = 0;
                                    foreach (var item in lstAccounts)
                                    {
                                        <tr>
                                            <td>@Html.Raw(stt = stt + 1)</td>
                                            <td>@item.UserName</td>
                                            <td>@item.Pass</td>
                                            @if (item.Status == 1)
                                            {
                                                <td><span class="btn-success">Hoạt động</span></td>
                                            }
                                            else
                                            {
                                                <td><span class="btn-danger"> Đang khóa</span></td>
                                            }
                                            <td>
                                                <a href="/Admin/Account/Edit/@item.Id" class="btn btn-danger">Sửa</a>
                                                <a class="btn btn-primary glyphicon glyphicon-trash" onclick="return confirm('Bạn có muốn xóa không?');" href="@Url.Action("Delete","Account")/@item.Id"></a>
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>

                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>


