@model List<ProjectFinal.Models.PaymentExpVat>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Danh sách hóa đơn
        </h1>
        <ol class="breadcrumb">
            <li><a href="Admin/Home/Index"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
            <li class="active">Danh sách hóa đơn</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã hóa đơn</th>
                                    <th>Tên đơn vị</th>
                                    <th>SĐT</th>
                                    <th>Email</th>
                                    <th>Mã số thuế</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var stt = 0;
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@Html.Raw(stt = stt + 1)</td>
                                            <td>@item.OrderCode</td>
                                            <td>@item.CompanyName</td>
                                            <td>@item.CompanyAddress</td>
                                            <td>@item.Email</td>
                                            <td>@item.TaxCode</td>
                                        </tr>
                                    }
                                }

                            </tbody>

                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>


