@model ProjectFinal.Models.NewsModel
@{
    ViewBag.Title = "Cập nhật tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section footerJS{

    <script src="~/Assets/admin/libs/ckeditor/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#detail'), {
                // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
               // minHeight: '300px'
            })
            .then(editor => {
                window.editor = editor;
            })
            .catch(err => {
                console.error(err.stack);
            });

    </script>
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Cập nhật tin tức
        </h1>
        <ol class="breadcrumb">
            <li><a href="Admin/Home/Index"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
            <li><a href="Admin/News/Index">Tin tức</a></li>
            <li class="active">Cập nhật tin tức</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        @using (Html.BeginForm("Edit", "News", FormMethod.Post, new { Area = "Admin", enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <label for="exampleInputEmail1">Tiêu đề tin tức</label>
                                @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Danh mục</label><br />
                                @Html.DropDownListFor(model => model.NewCategoryId, (IEnumerable<SelectListItem>)@ViewBag.categoryList, "-Chọn danh mục tin tức-", new { @class = "form-control chosen-select" })
                                @Html.ValidationMessageFor(model => model.NewCategoryId, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Mô tả</label>
                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Chi tiết</label>
                                @Html.TextAreaFor(model => model.Detail, new { @class = "form-control", @id = "detail" })
                                @Html.ValidationMessageFor(model => model.Detail, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1">Chọn ảnh</label>
                                @*<input type="file" name="LogoFile" class="form-control" />*@
                                @Html.TextBoxFor(model => model.LogoFile, new { @class = "form-control", @type = "file" })
                                <img src="@Model.Image" style="max-width:100%;height:80px;" />
                                @Html.ValidationMessageFor(model => model.LogoFile, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Loại tin</label>
                                <select class="form-control" id="Type" name="Type">
                                    <option value="1" selected>Tin mới</option>
                                    <option value="2">Tin Hot</option>
                                    <option value="0">Tin thường</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Trạng thái</label>
                                <select class="form-control" id="Status" name="Status">
                                    @if (Model.Status == 1)
                                    {
                                        <option value="1" selected>Hoạt động</option>
                                        <option value="0">Khóa</option>
                                    }
                                    else
                                    {
                                        <option value="1">Hoạt động</option>
                                        <option value="0" selected>Khóa</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-5">
                                    <input type="submit" value="Cập nhật" class="btn btn-success" />
                                </div>
                            </div>
                        }
                        <div>
                            <a class="btn btn-danger" href="@Url.Action("Index", "News", new { Area = "Admin" })">Quay lại</a>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>





